.photo-details-common {
  @include transition(0.3s);
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  font-size: 13px;
  color: $brand-primary-inverse;
  background: $brand-primary;
  @media (min-width: 992px) {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.flickr-photo{
  overflow: hidden;
  margin-bottom: 25px;
  display: block;
  position: relative;
  width: auto;
  height: auto;
  background: center center no-repeat transparent;
  &.landscape {
    background-size: auto 100%;
  }
  &.portrait {
    background-size: 100% auto;
  }
  img {
    visibility: hidden;
    max-width: 100%;
    height: auto;
  }
  .photo-title {
    @extend .photo-details-common;
    &.empty {
      height: 28px;
      background: transparent;
    }
    @media (min-width: 992px) {
      transform: translateY(-100%) scale(0);
      top: 0;
    }
  }

  .photo-details {
    padding: 5px 15px;
    @extend %clearfix;
    @extend .photo-details-common;
    @media (min-width: 992px) {
      transform: translateY(100%) scale(0);
      bottom: 0;
    }
    .photo-download {
      color: $brand-primary-inverse;
      float: left;
      @extend %nooutline;
    }
    .photo-views {
      color: $brand-primary-inverse;
      float: right;
    }

  }

  &:hover {
    .photo-title,
    .photo-details {
      transform: translateY(0) scale(1);
    }
  }
}