.flickr-gallery {

  > .flickr-gallery-item {
    width: 100%;
    @media (min-width: 480px) {
      width: (1/2)*100%;
      &:nth-child(2n+1){
        clear: left;
      }
    }

    @media (min-width: 768px) {
      width: (1/3)*100%;
      &:nth-child(2n+1){
        clear: none;
      }
      &:nth-child(3n+1){
        clear: left;
      }
    }
    @media (min-width: 992px) {
      width: (1/4)*100%;
      &:nth-child(3n+1){
        clear: none;
      }
      &:nth-child(4n+1){
        clear: left;
      }
    }
    @media (min-width: 1200px) {
      width: (1/5)*100%;
      &:nth-child(4n+1){
        clear: none;
      }
      &:nth-child(5n+1){
        clear: left;
      }
    }
  }
}
.paginator {
  @extend %clearfix;
  display: block;
  margin: 20px 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
  }

  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  .disabled {
    pointer-events: none;
  }
}

.photo-page {
  @include transition(0.4s);
  padding-left: 0;
  padding-right: 0;
  .btn-sidebar-collapse {
    @include transition(0.4s);
    @extend %nooutline;
    position: fixed;
    top: $navBarHeight;
    color: $brand-primary-inverse;
    background: $brand-primary;
    border: 0;
    left: 0;
    z-index: 1001;
  }
  .panel {
    border: 0;
    box-shadow: none;
  }
  .panel-search {
    padding: 15px;
    @include transition(0.4s);
    @extend %searchScrollBar;
    position: fixed;
    z-index: 1000;
    left: -$sideBarWidth;
    top: $navBarHeight;
    bottom: 0;
    width: $sideBarWidth;
    overflow-y: auto;
    background-color: rgba($brand-primary-inverse,.95);
    > .form-group:last-child {
      margin-bottom: 0;
    }
  }

  .panel-results {
    position: relative;
    width: 100%;
    margin: 0;
    padding: $navBarHeight/2 20px 20px $navBarHeight;
    min-height: calc(100vh - #{$navBarHeight});
  }

  &.sidebar-opened{
    padding-left: $sideBarWidth;
    .panel-search {
      left: 0;
    }
    .btn-sidebar-collapse {
      left: $sideBarWidth;
    }

    .panel-results {
      position: absolute;
      margin-right: -$sideBarWidth;
      @media (min-width: 768px) {
        position: relative;
        margin-right: 0;
      }
    }

  }

}
