<header class="navbar navbar-inverse navbar-fixed-top navbar-flickr">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Search on Flickr</a>
			<div class="navbar-copyright">
				<i class="fa fa-copyright"></i> Horváth Ádám
			</div>
		</div>
	</div>
</header>